@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Dosis", sans-serif;
}

header {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.active {
  color: #484848;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  cursor: pointer;
  list-style-type: none;
}

nav ul li a {
  color: #b1b1b1;
  display: block;
  line-height: 3em;
  padding: 0.5em 0.8em;
  text-decoration: none;
}

nav ul li a:hover {
  color: #484848;
}

nav ul li:first-child {
  margin-right: auto;
}

.hp {
  left: -22.952px;
  top: 0px;
  width: 500px;
  height: 320px;
  position: relative;
  margin: 15px;
}

img {
  opacity: 1;
  -webkit-transition: opacity 1000ms cubic-bezier(0.33, 0, 0.2, 1);
  -moz-transition: opacity 1000ms cubic-bezier(0.33, 0, 0.2, 1);
  -ms-transition: opacity 1000ms cubic-bezier(0.33, 0, 0.2, 1);
  -o-transition: opacity 1000ms cubic-bezier(0.33, 0, 0.2, 1);
  transition: opacity 1000ms cubic-bezier(0.33, 0, 0.2, 1);
}
