@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Dosis", sans-serif;
}

header {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.active {
  color: #7F76B8;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  cursor: pointer;
  list-style-type: none;
}

nav ul li a {
  color: #b1b1b1;
  display: block;
  line-height: 3em;
  padding: 0.5em 0.8em;
  text-decoration: none;
}

nav ul li a:hover {
  color: #7F76B8;
}

nav ul li:first-child {
  margin-right: auto;
}

.projects {
  left: -22.952px;
  top: 0px;
  width: 540px;
  height: 320px;
  position: relative;
  margin: 15px;
  -webkit-filter: grayscale(.5);
  filter: grayscale(.5);
}


.container {
  position: relative;
  width: 45%;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .8s ease;
  background-color: #ffffff;
}

.container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.text {
  color: #7F76B8;
  font-size: 28px;
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

article{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
